default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: db/pcure_development.sqlite3

test:
  <<: *default
  database: db/pcure_test.sqlite3

production:
  <<: *default
  database: db/pcure_production.sqlite3
